#containers {
    /*border: 1px solid #ccc;*/
    /*overflow-y: hidden;
    overflow: scroll;*/
    /*overflow: hidden;*/
    /*overflow-y: hidden;
     width: 280px;
     outline: 1px solid blue;*/
    /* overflow-x: auto;
     -webkit-overflow-scrolling: touch;*/
}
#content {
    background-color: #ccc; 
    width: 250px;
    white-space: nowrap;
    /*outline: 1px solid blue;*/
}

.outline{
    outline: 1px solid red;
}

/***/

.tactil{
  outline: 1px solid red;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 100px;
}
  .items {
    position: relative;
    left:20%;
    width: 40%;
    /*overflow-x: hidden;*/
   /* overflow-y: hidden;*/
  /* overflow-x: auto;
    white-space: nowrap;
   /* transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;*/
    user-select: none;
    cursor: pointer;
    outline: 1px solid blue;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  
  }
  .container-item{
overflow-x: auto;
-webkit-overflow-scrolling: touch;
  }
  .items.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  .item {
    display: inline-block;
   /* background: skyblue;*/
    min-height: auto;
    min-width: 100px;
    margin: 2em 1em;
    outline: 1px solid blue;
  }
  